<div class="row-fluid">

    Thank you for purchasing {{ trickname }}.  To get started, please register using the form below/
    <form role="form" ng-submit="register()">
        <div class="form-group">
            <label for="vid">Video ID #</label>
            <input type="text" class="form-control" id="vid" placeholder="zxY4xj42" required ng-model="user.videoid">
        </div>

        <div class="form-group">
            <label for="youtube-username">Youtube Username</label>
            <input type="text" class="form-control" id="youtube-username" placeholder="Youtube Username" required ng-model="user.youtubeUsername">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="user@domain.com" required ng-model="user.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required ng-model="user.password">
            <input type="password" class="form-control" id="password-confirm" placeholder="Confirm Password" required ng-model="user.passwordConfirm">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button class="btn btn-default" ng-click="forgotPassword()">I forgot my password</button>
    </form>
</div>
